# Rust build artifacts
target/
output/
wasm/

# Rustfmt backup files
*.rs.bk

# Non-coding files
*.json
README.md

# Sensitive files
*.pem
*.key
*.cert
.env

# IDE or editor files
.vscode/
.idea/
*.swp
*.swo

# Python scripts
__pycache__/

# macOS-specific
.DS_Store
